$message-element-bg-color: rgb(255, 223, 207);
$message-element-text-color: rgb(0, 0, 0);
$border-color: rgb(255, 223, 207);

.messageElementRight {
  background-color: $message-element-bg-color;
  border-radius: 5px;
  margin: 10px 12px 10px 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: relative;
  max-width: 60%;
  color: $message-element-text-color;

  &::after {
    content: '';
    position: absolute;
    right: -12px;
    bottom: 0;
    border: 7px solid transparent;
    border-left: 9px solid $border-color;
  }
}

.messageElementLeft {
  background-color: $message-element-bg-color;
  border-radius: 5px;
  margin: 10px 12px 10px 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: relative;
  max-width: 60%;
  color: $message-element-text-color;

  &::after {
    content: '';
    position: absolute;
    left: -12px;
    bottom: 0;
    border: 7px solid transparent;
    border-right: 9px solid $border-color;
  }
}

.messText {
  align-self: flex-end;
  margin-right: 20px;
  word-break: break-all;
}

.bottomBlock {
  padding-top: 5px;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}

.messDate {
  margin-right: 5px;
  font-size: 12px;
}

.animationRight {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-name: slideinRight;
}

@keyframes slideinRight {
	from {
		margin-right: 40%;
	}

	to {
		margin-right: 12px;
	}
}

.animationLeft {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-name: slideinLeft;
}

@keyframes slideinLeft {
	from {
		margin-left: 40%;
	}

	to {
		margin-left: 12px;
	}
}
