$shadow-color: rgba(204, 169, 44, 0.9);
$bg-color: rgb(204, 169, 44);
$box-shadow-color: rgb(170, 170, 170);
$pulse1-color: rgba(204, 169, 44, 0.7);
$pulse2-color: rgba(204, 169, 44, 0.4);
$pulse3-color: rgba(204, 169, 44, 0);

.newMessButton {
	height: 55px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  background: $bg-color;
  cursor: pointer;
  box-shadow: 0 0 0 $shadow-color;
  animation: pulse 2s infinite;

  &:hover,
  &:focus {
    box-shadow: inset $box-shadow-color 0 0 40px 10px, $box-shadow-color 0 0 24px 12px;
    animation: none;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $pulse1-color;
  }

  70% {
    box-shadow: 0 0 0 20px $pulse2-color;
  }

  100% {
    box-shadow: 0 0 0 0 $pulse3-color;
  }
}
